<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">   
    <link rel="stylesheet" href="{% static 'css/cart.css'%}">   
   
</head>
<body>
    {% load mathfilters %}

    <div id="opener" style="background-color: #009579;">
        
        {% if user.is_authenticated %}
        
        
    
        <div class="card">
            <div class="row">
                <div class="col-md-7 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>Shopping Cart</b></h4></div>
                            <div class="col align-self-center text-right text-muted">{{count}} items</div>
                        </div>
                    </div>  


{% if count == 0 %}
<div class="text-center">
    <h3>Your Cart is Empty</h3>
<a href="/shop" class="btn" type="button">Shop Now</a>
</div>

{% endif %}


    
                {% for product in cart %}    
                    <div class="row text-center border-bottom border-top">
                        <div class="row main align-items-center">
                           
                            
                            <div class="col-2 ">
                                
                                <a href="/product/{{product.product.pk}}" class="text-decoration-none">
                                    <img class="img-fluid " src="{{product.product.ProductImage.url}}">
                                </a>
                                
                                </div>
                            <div class="col">
                                <div class="row text-wrap text-center"><h5>{{product.product.name}}</h5></div>
                                <div class="row text-muted text-center"><p>{{product.product.quantity}}</p></div>
                            </div>
                            
                                <div class="col-sm">
                            <div class="col-sm">
                                {% if  product.product.category_type.pk == 4 %}
                                <span class="" >{{product.product_qty}}</span>

                            {% else %}
                                <a href="/updatecart/sub/{{product.product.pk}}/{{product.pk}}" class="text-decoration-none text-danger d-inline fw-bolder">-</a>
                                <span class="" >{{product.product_qty}}</span>
                                <a class="text-decoration-none text-success fw-bolder" href="/updatecart/add/{{product.product.pk}}/{{product.pk}}">+</a>
                                {% endif %}

                            </div>
                            <div class="col-sm">
                                <div class="fw-bold mt-1">&#8377;{{product.product_qty |mul:product.product.sellingprice}}
                                    <a class="close ms-2 text-decoration-none float-end text-danger" href="/updatecart/del/{{product.product.pk}}/{{product.pk}}"><span class="material-symbols-outlined">
                                        delete
                                        </span></a></div>

                            </div>
                        
                            </div>

                            
                        </div>
                    </div>

                    {% endfor %}

                    <div class="back-to-shop text-muted"><a href="/shop" class="text-success">&leftarrow; Back to shop</a></div>
                
                {% if pp > 0 %}
                <div class="col my-3"><h4><b>Prescriptive Cart</b></h4></div>
                    {% for product in PrescriptiveProduct %}
                <div class="row text-center border-bottom border-top">
                    <div class="row main align-items-center">
                        <div class="col-2 "><img class="img-fluid " src="{{product.product.ProductImage.url}}"></div>
                        <div class="col">
                            <div class="row text-wrap text-center"><h5>{{product.product.name}}</h5></div>
                            <div class="row text-muted text-center"><p>{{product.product.quantity}}</p></div>
                        </div>
                        
                            <div class="col-sm">
                                <div class="col-sm">
                                    <span class="fw-bold text-dark">Status: <span class="approve text-primary 
                                        {% if product.approve == "Approved" %}
                                        text-success
                                        {% elif product.approve == "Declined" %}
                                            text-danger
                                        {% endif %}
                                        ">{{product.approve}}</span></span>
                                </div>
                        <div class="col-sm">
                            <span class="fw-bold">Qty:  {{product.product_qty}}</span>
                        </div>
                        <div class="col-sm">
                            <div class="fw-bold mt-1">&#8377;{{product.product_qty |mul:product.product.sellingprice}}
                                <a class="close text-danger ms-2  float-end text-decoration-none" title="Delete" href="/delTemp/{{product.pk}}"><span class="material-symbols-outlined">
                                    delete
                                    </span></a></div>

                        </div>
                        {% if product.approve == "Approved" %}
                        <a href="/addtotop/{{product.pk}}" id="addtotop" class="border bg-success fw-bold text-light p-1 px-2 mt-2 rounded" type="button">Add to Top</a>
                        {% endif %}

                        </div>

                        
                    </div>
                </div>
                
                
                
                        {% endfor %}
                {% endif %}




                </div>

                <div class="col-md-5 summary">
                    <div><h5><b>Summary</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">ITEMS {{count}}</div>
                        <div class="col text-right">&#8377; {{totalAmt}}</div>
                    </div>
                    <form id="formid" method="POST" action="/conformorder">
                        {% csrf_token %}
                        <p class="m-0">CONTACT NUMBER:</p>
                        <input id="contactno" name="contactno" class="num"  maxlength="10" inputmode="numeric" placeholder="Ex. 9988776655" >
                        <p id="contactnoerr" class="m-0 fs-6 text-danger"></p>
                        <p class="m-0">ADDRESS:</p>
                        <textarea maxlength="75" class="w-100 rounded-6 onespace" placeholder="14/22 a ,olappalayam , kangeyam" name="address" id="address"  rows="3" ></textarea>
                        <p id="addresserr" class="m-0 fs-6 text-danger"></p>
                        <p class="m-0">LANDMARK:</p>
                        <input id="landmark" maxlength="20" class="textonly onespace" placeholder="Ex. Near SBI bank" name="landmark" type="text" >
                        <p id="landmarkerr" class="m-0 fs-6 text-danger"></p>
                        <p class="m-0">PINCODE:</p>
                        <input id="code" name="pincode" class="num pincode"   maxlength="6" inputmode="numeric" placeholder="Ex. 638701" >
                
                        <p id="pincodeerr" class="m-0 fs-6 text-danger"></p>
                        <p class="m-0">STATE:</p>
                        
                        <input id="state" class="textonly m-0 p-2" name="state" readonly /> 
                        <p id="stateerr" class="m-0 fs-6 text-danger"></p>
                        <p class="m-0">DISTRICT:</p>
                        <input id="district" class="textonly m-0 p-2" placeholder="" name="district" readonly />
                        <p id="districterr" class="m-0 fs-6 text-danger"></p>
                      
                        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                            <div class="col">TOTAL PRICE</div>
                            <div class="col text-right">&#8377; {{totalAmt}}</div>
                        </div>
                        
                        <button id="reset" type="reset" class="float-end btn-danger px-2 mb-1">clear</button>
                        
                        <button id="checkout" class="btn" type="submit" onclick="submitHandler()">CHECKOUT</button>
                    </form>
                </div>
            </div>
            
        </div>
        

        {% else %}

        <div class="container text-center">
    <div class="card" >
        <div class="card-body">
    <h3>Please Login to continue</h3>
      <a href="/loginpage" class="btn btn-success rounded-pill fs-5" type="button" style="width:7rem">Login</a>
    </div>
  </div>
</div>

        {% endif %}
        
    </div>
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    form = document.getElementById('formid')
    form.addEventListener('submit',(e)=>{
    const address= document.getElementById('address').value.trim()
    const landmark= document.getElementById('landmark').value.trim()
    const state= document.getElementById('state').value.trim()
    const district= document.getElementById('district').value.trim()
    const pincode= document.getElementById('code').value.trim()
    const contactno= document.getElementById('contactno').value.trim()
    
    const addresserr= document.getElementById('addresserr')
    const landmarkerr= document.getElementById('landmarkerr')
    const stateerr= document.getElementById('stateerr')
    const districterr= document.getElementById('districterr')
    const pincodeerr= document.getElementById('pincodeerr')
    const contactnoerr= document.getElementById('contactnoerr')
    let errors = true
    if(address === ''){
        addresserr.innerText="Enter a valid address";
        errors = false ;
    }
    else
        addresserr.innerText=""

    if(landmark === '' || landmark.length < 8){
        landmarkerr.innerText="Enter a valid Landmark";
        errors = false ;
    }
    else
        landmarkerr.innerText="" 

    // if(state === '' || state.length < 2){
    //     stateerr.innerText="Enter a valid State";
    //     errors = false ;
    // }
    // else
    //     stateerr.innerText=""   

    // if(district === '' || district.length < 3){
    //     districterr.innerText="Enter a valid District";
    //     errors = false ;
    // }
    // else
    //     districterr.innerText="" 

    if(pincode === '' || pincode.length != 6 || pincode[0] == "0"){
        pincodeerr.innerText="Enter a valid Pincode";
        errors = false ;
    }
    
    else
        pincodeerr.innerText="" 

    if(contactno === '' || contactno.length != 10){
        contactnoerr.innerText="Enter a valid Contact number";
        errors = false ;
    }

    else if (!( contactno[0] == "6" || contactno[0] == "7" || contactno[0] == "8" || contactno[0] == "9" )){
        contactnoerr.innerText="Contact no should starts with (6-9)";
        errors = false ;
    }
    else
        contactnoerr.innerText="" 



    if (! errors){
        e.preventDefault();
    }
})

</script>

    <script>
    $("#reset").click(function(){
    $("#formid").find('input:text, input:password, input:file, select, textarea').val('');
    
});
    </script>
    
    <script>
    document.getElementById('address').value="{{personal.address}}"
    document.getElementById('landmark').value="{{personal.landmark}}"
    document.getElementById('state').value="{{personal.state}}"
    document.getElementById('district').value="{{personal.district}}"
    document.getElementById('code').value="{{personal.pincode}}"
    document.getElementById('contactno').value="{{personal.contact}}"
    let btn=document.getElementById('checkout')
            if({{count}} == 0){
                    btn.disabled=true;
                }
                else{
                    btn.disabled=false;
                }
        
               function submitHandler(){
                   

                       let btn=document.getElementById('checkout')
                       
                    btn.innerHTML="Send OTP"
                               
               }
                
               const fewSeconds = 5
 
document.querySelector('#checkout').addEventListener('click', (e) => {


    
    setTimeout(() => {
        e.target.disabled = true
       }, 1000)

  setTimeout(() => {
   e.target.disabled = false
  }, fewSeconds * 1000)
})

    </script>
    
<script>
    $(function() {

$('.textonly').keydown(function (e) {

  if (e.ctrlKey || e.altKey) {
  
    e.preventDefault();
    
  } else {
  
    var key = e.keyCode;
    
    if (!((key == 8) || (key == 13) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
    
      e.preventDefault();
      
    }

  }
  
});


$('.num').keydown(function (e) {

if (e.ctrlKey || e.altKey || e.shiftKey) {

  e.preventDefault();
  
} else {

  var key = e.keyCode;
  
  if (!((key == 8) || (key == 13)  || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57))) {
  
    e.preventDefault();
    
  }

}

});



});

</script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
 <!-- pincode api -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>

    $('#code').on("input", function(){
        var pincode = $('.pincode').val();
        if (pincode.length == 6)
       { 
        $.getJSON("https://api.postalpincode.in/pincode/"+pincode, function(data){
            
            console.log(data[0].Status)
            if (data[0].Status == "Success"){
                $('#state').val(data[0].PostOffice[0].State);
                $('#district').val(data[0].PostOffice[0].District);
                console.log(data[0].PostOffice[0].State)
                console.log(data[0].PostOffice[0].District)
                $('#pincodeerr').text("");

            }
            else{
                $('#state').val("");
                $('#district').val("");
                $('#pincodeerr').text("Please enter a valid pincode");
                
            }
        })
    }
    else if (pincode.length == 0){
        $('.pincodeerr').text("Please enter your pincode");
        $('#state').val("");
         $('#district').val("");
    }
    else{
        $('#pincodeerr').text("Pincode must contains 6 numbers");
        $('#state').val("");
        $('#district').val("");
    }


    })
</script>

<!--     
<script>

    var AndraPradesh = ["Anantapur","Chittoor","East Godavari","Guntur","Kadapa","Krishna","Kurnool","Prakasam","Nellore","Srikakulam","Visakhapatnam","Vizianagaram","West Godavari"];
    var ArunachalPradesh = ["Anjaw","Changlang","Dibang Valley","East Kameng","East Siang","Kra Daadi","Kurung Kumey","Lohit","Longding","Lower Dibang Valley","Lower Subansiri","Namsai","Papum Pare","Siang","Tawang","Tirap","Upper Siang","Upper Subansiri","West Kameng","West Siang","Itanagar"];
    var Assam = ["Baksa","Barpeta","Biswanath","Bongaigaon","Cachar","Charaideo","Chirang","Darrang","Dhemaji","Dhubri","Dibrugarh","Goalpara","Golaghat","Hailakandi","Hojai","Jorhat","Kamrup Metropolitan","Kamrup (Rural)","Karbi Anglong","Karimganj","Kokrajhar","Lakhimpur","Majuli","Morigaon","Nagaon","Nalbari","Dima Hasao","Sivasagar","Sonitpur","South Salmara Mankachar","Tinsukia","Udalguri","West Karbi Anglong"];
    var Bihar = ["Araria","Arwal","Aurangabad","Banka","Begusarai","Bhagalpur","Bhojpur","Buxar","Darbhanga","East Champaran","Gaya","Gopalganj","Jamui","Jehanabad","Kaimur","Katihar","Khagaria","Kishanganj","Lakhisarai","Madhepura","Madhubani","Munger","Muzaffarpur","Nalanda","Nawada","Patna","Purnia","Rohtas","Saharsa","Samastipur","Saran","Sheikhpura","Sheohar","Sitamarhi","Siwan","Supaul","Vaishali","West Champaran"];
    var Chhattisgarh = ["Balod","Baloda Bazar","Balrampur","Bastar","Bemetara","Bijapur","Bilaspur","Dantewada","Dhamtari","Durg","Gariaband","Janjgir Champa","Jashpur","Kabirdham","Kanker","Kondagaon","Korba","Koriya","Mahasamund","Mungeli","Narayanpur","Raigarh","Raipur","Rajnandgaon","Sukma","Surajpur","Surguja"];
    var Goa = ["North Goa","South Goa"];
    var Gujarat = ["Ahmedabad","Amreli","Anand","Aravalli","Banaskantha","Bharuch","Bhavnagar","Botad","Chhota Udaipur","Dahod","Dang","Devbhoomi Dwarka","Gandhinagar","Gir Somnath","Jamnagar","Junagadh","Kheda","Kutch","Mahisagar","Mehsana","Morbi","Narmada","Navsari","Panchmahal","Patan","Porbandar","Rajkot","Sabarkantha","Surat","Surendranagar","Tapi","Vadodara","Valsad"];
    var Haryana = ["Ambala","Bhiwani","Charkhi Dadri","Faridabad","Fatehabad","Gurugram","Hisar","Jhajjar","Jind","Kaithal","Karnal","Kurukshetra","Mahendragarh","Mewat","Palwal","Panchkula","Panipat","Rewari","Rohtak","Sirsa","Sonipat","Yamunanagar"];
    var HimachalPradesh = ["Bilaspur","Chamba","Hamirpur","Kangra","Kinnaur","Kullu","Lahaul Spiti","Mandi","Shimla","Sirmaur","Solan","Una"];
    var JammuKashmir = ["Anantnag","Bandipora","Baramulla","Budgam","Doda","Ganderbal","Jammu","Kargil","Kathua","Kishtwar","Kulgam","Kupwara","Leh","Poonch","Pulwama","Rajouri","Ramban","Reasi","Samba","Shopian","Srinagar","Udhampur"];
    var Jharkhand = ["Bokaro","Chatra","Deoghar","Dhanbad","Dumka","East Singhbhum","Garhwa","Giridih","Godda","Gumla","Hazaribagh","Jamtara","Khunti","Koderma","Latehar","Lohardaga","Pakur","Palamu","Ramgarh","Ranchi","Sahebganj","Seraikela Kharsawan","Simdega","West Singhbhum"];
    var Karnataka = ["Bagalkot","Bangalore Rural","Bangalore Urban","Belgaum","Bellary","Bidar","Vijayapura","Chamarajanagar","Chikkaballapur","Chikkamagaluru","Chitradurga","Dakshina Kannada","Davanagere","Dharwad","Gadag","Gulbarga","Hassan","Haveri","Kodagu","Kolar","Koppal","Mandya","Mysore","Raichur","Ramanagara","Shimoga","Tumkur","Udupi","Uttara Kannada","Yadgir"];
    var Kerala = ["Alappuzha","Ernakulam","Idukki","Kannur","Kasaragod","Kollam","Kottayam","Kozhikode","Malappuram","Palakkad","Pathanamthitta","Thiruvananthapuram","Thrissur","Wayanad"];
    var MadhyaPradesh = ["Agar Malwa","Alirajpur","Anuppur","Ashoknagar","Balaghat","Barwani","Betul","Bhind","Bhopal","Burhanpur","Chhatarpur","Chhindwara","Damoh","Datia","Dewas","Dhar","Dindori","Guna","Gwalior","Harda","Hoshangabad","Indore","Jabalpur","Jhabua","Katni","Khandwa","Khargone","Mandla","Mandsaur","Morena","Narsinghpur","Neemuch","Panna","Raisen","Rajgarh","Ratlam","Rewa","Sagar","Satna",
    "Sehore","Seoni","Shahdol","Shajapur","Sheopur","Shivpuri","Sidhi","Singrauli","Tikamgarh","Ujjain","Umaria","Vidisha"];
    var Maharashtra = ["Ahmednagar","Akola","Amravati","Aurangabad","Beed","Bhandara","Buldhana","Chandrapur","Dhule","Gadchiroli","Gondia","Hingoli","Jalgaon","Jalna","Kolhapur","Latur","Mumbai City","Mumbai Suburban","Nagpur","Nanded","Nandurbar","Nashik","Osmanabad","Palghar","Parbhani","Pune","Raigad","Ratnagiri","Sangli","Satara","Sindhudurg","Solapur","Thane","Wardha","Washim","Yavatmal"];
    var Manipur = ["Bishnupur","Chandel","Churachandpur","Imphal East","Imphal West","Jiribam","Kakching","Kamjong","Kangpokpi","Noney","Pherzawl","Senapati","Tamenglong","Tengnoupal","Thoubal","Ukhrul"];
    var Meghalaya = ["East Garo Hills","East Jaintia Hills","East Khasi Hills","North Garo Hills","Ri Bhoi","South Garo Hills","South West Garo Hills","South West Khasi Hills","West Garo Hills","West Jaintia Hills","West Khasi Hills"];
    var Mizoram = ["Aizawl","Champhai","Kolasib","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip","Aizawl","Champhai","Kolasib","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip"];
    var Nagaland = ["Dimapur","Kiphire","Kohima","Longleng","Mokokchung","Mon","Peren","Phek","Tuensang","Wokha","Zunheboto"];
    var Odisha = ["Angul","Balangir","Balasore","Bargarh","Bhadrak","Boudh","Cuttack","Debagarh","Dhenkanal","Gajapati","Ganjam","Jagatsinghpur","Jajpur","Jharsuguda","Kalahandi","Kandhamal","Kendrapara","Kendujhar","Khordha","Koraput","Malkangiri","Mayurbhanj","Nabarangpur","Nayagarh","Nuapada","Puri","Rayagada","Sambalpur","Subarnapur","Sundergarh"];
    var Punjab = ["Amritsar","Barnala","Bathinda","Faridkot","Fatehgarh Sahib","Fazilka","Firozpur","Gurdaspur","Hoshiarpur","Jalandhar","Kapurthala","Ludhiana","Mansa","Moga","Mohali","Muktsar","Pathankot","Patiala","Rupnagar","Sangrur","Shaheed Bhagat Singh Nagar","Tarn Taran"];
    var Rajasthan = ["Ajmer","Alwar","Banswara","Baran","Barmer","Bharatpur","Bhilwara","Bikaner","Bundi","Chittorgarh","Churu","Dausa","Dholpur","Dungarpur","Ganganagar","Hanumangarh","Jaipur","Jaisalmer","Jalore","Jhalawar","Jhunjhunu","Jodhpur","Karauli","Kota","Nagaur","Pali","Pratapgarh","Rajsamand","Sawai Madhopur","Sikar","Sirohi","Tonk","Udaipur"];
    var Sikkim = ["East Sikkim","North Sikkim","South Sikkim","West Sikkim"];
    var TamilNadu = ["Ariyalur","Chennai","Coimbatore","Cuddalore","Dharmapuri","Dindigul","Erode","Kanchipuram","Kanyakumari","Karur","Krishnagiri","Madurai","Nagapattinam","Namakkal","Nilgiris","Perambalur","Pudukkottai","Ramanathapuram","Salem","Sivaganga","Thanjavur","Theni","Thoothukudi","Tiruchirappalli","Tirunelveli","Tiruppur","Tiruvallur","Tiruvannamalai","Tiruvarur","Vellore","Viluppuram","Virudhunagar"];
    var Telangana = ["Adilabad","Bhadradri Kothagudem","Hyderabad","Jagtial","Jangaon","Jayashankar","Jogulamba","Kamareddy","Karimnagar","Khammam","Komaram Bheem","Mahabubabad","Mahbubnagar","Mancherial","Medak","Medchal","Nagarkurnool","Nalgonda","Nirmal","Nizamabad","Peddapalli","Rajanna Sircilla","Ranga Reddy","Sangareddy","Siddipet","Suryapet","Vikarabad","Wanaparthy","Warangal Rural","Warangal Urban","Yadadri Bhuvanagiri"];
    var Tripura = ["Dhalai","Gomati","Khowai","North Tripura","Sepahijala","South Tripura","Unakoti","West Tripura"];
    var UttarPradesh = ["Agra","Aligarh","Allahabad","Ambedkar Nagar","Amethi","Amroha","Auraiya","Azamgarh","Baghpat","Bahraich","Ballia","Balrampur","Banda","Barabanki","Bareilly","Basti","Bhadohi","Bijnor","Budaun","Bulandshahr","Chandauli","Chitrakoot","Deoria","Etah","Etawah","Faizabad","Farrukhabad","Fatehpur","Firozabad","Gautam Buddha Nagar","Ghaziabad","Ghazipur","Gonda","Gorakhpur","Hamirpur","Hapur","Hardoi","Hathras","Jalaun","Jaunpur","Jhansi","Kannauj","Kanpur Dehat","Kanpur Nagar","Kasganj","Kaushambi","Kheri","Kushinagar","Lalitpur","Lucknow","Maharajganj","Mahoba","Mainpuri","Mathura","Mau","Meerut","Mirzapur","Moradabad","Muzaffarnagar","Pilibhit","Pratapgarh","Raebareli","Rampur","Saharanpur","Sambhal","Sant Kabir Nagar","Shahjahanpur","Shamli","Shravasti","Siddharthnagar","Sitapur","Sonbhadra","Sultanpur","Unnao","Varanasi"];
    var Uttarakhand  = ["Almora","Bageshwar","Chamoli","Champawat","Dehradun","Haridwar","Nainital","Pauri","Pithoragarh","Rudraprayag","Tehri","Udham Singh Nagar","Uttarkashi"];
    var WestBengal = ["Alipurduar","Bankura","Birbhum","Cooch Behar","Dakshin Dinajpur","Darjeeling","Hooghly","Howrah","Jalpaiguri","Jhargram","Kalimpong","Kolkata","Malda","Murshidabad","Nadia","North 24 Parganas","Paschim Bardhaman","Paschim Medinipur","Purba Bardhaman","Purba Medinipur","Purulia","South 24 Parganas","Uttar Dinajpur"];
    var AndamanNicobar = ["Nicobar","North Middle Andaman","South Andaman"];
    var Chandigarh = ["Chandigarh"];
    var DadraHaveli = ["Dadra Nagar Haveli"];
    var DamanDiu = ["Daman","Diu"];
    var Delhi = ["Central Delhi","East Delhi","New Delhi","North Delhi","North East Delhi","North West Delhi","Shahdara","South Delhi","South East Delhi","South West Delhi","West Delhi"];
    var Lakshadeep = ["Lakshadweep"];
    var Pondicherry = ["Karaikal","Mahe","Puducherry","Yanam"];
    
    
    $("#state").change(function(){
      var StateSelected = $(this).val();
      var optionsList;
      var htmlString = "<option value='"+ "" +"'>"+ "-- Select District -- " +"</option>";
    
      switch (StateSelected) {
        case "Andra Pradesh":
            optionsList = AndraPradesh;
            break;
        case "Arunachal Pradesh":
            optionsList = ArunachalPradesh;
            break;
        case "Assam":
            optionsList = Assam;
            break;
        case "Bihar":
            optionsList = Bihar;
            break;
        case "Chhattisgarh":
            optionsList = Chhattisgarh;
            break;
        case "Goa":
            optionsList = Goa;
            break;
        case  "Gujarat":
            optionsList = Gujarat;
            break;
        case "Haryana":
            optionsList = Haryana;
            break;
        case "Himachal Pradesh":
            optionsList = HimachalPradesh;
            break;
        case "Jammu and Kashmir":
            optionsList = JammuKashmir;
            break;
        case "Jharkhand":
            optionsList = Jharkhand;
            break;
        case  "Karnataka":
            optionsList = Karnataka;
            break;
        case "Kerala":
            optionsList = Kerala;
            break;
        case  "Madya Pradesh":
            optionsList = MadhyaPradesh;
            break;
        case "Maharashtra":
            optionsList = Maharashtra;
            break;
        case  "Manipur":
            optionsList = Manipur;
            break;
        case "Meghalaya":
            optionsList = Meghalaya ;
            break;
        case  "Mizoram":
            optionsList = Mizoram;
            break;
        case "Nagaland":
            optionsList = Nagaland;
            break;
        case  "Orissa":
            optionsList = Orissa;
            break;
        case "Punjab":
            optionsList = Punjab;
            break;
        case  "Rajasthan":
            optionsList = Rajasthan;
            break;
        case "Sikkim":
            optionsList = Sikkim;
            break;
        case  "Tamil Nadu":
            optionsList = TamilNadu;
            break;
        case  "Telangana":
            optionsList = Telangana;
            break;
        case "Tripura":
            optionsList = Tripura ;
            break;
        case  "Uttaranchal":
            optionsList = Uttaranchal;
            break;
        case  "Uttar Pradesh":
            optionsList = UttarPradesh;
            break;
        case "West Bengal":
            optionsList = WestBengal;
            break;
        case  "Andaman and Nicobar Islands":
            optionsList = AndamanNicobar;
            break;
        case "Chandigarh":
            optionsList = Chandigarh;
            break;
        case  "Dadar and Nagar Haveli":
            optionsList = DadraHaveli;
            break;
        case "Daman and Diu":
            optionsList = DamanDiu;
            break;
        case  "Delhi":
            optionsList = Delhi;
            break;
        case "Lakshadeep":
            optionsList = Lakshadeep ;
            break;
        case  "Pondicherry":
            optionsList = Pondicherry;
            break;
    }
    
    
      for(var i = 0; i < optionsList.length; i++){
        htmlString = htmlString+"<option value='"+ optionsList[i] +"'>"+ optionsList[i] +"</option>";
      }
      $("#district").html(htmlString);
    
    });
  
    function setdefault(){
      var StateSelected = "{{personal.state}}";
      var optionsList;
      var htmlString = "<option value='"+ "" +"'>"+ "-- Select District -- " +"</option>";
    
      switch (StateSelected) {
        case "Andra Pradesh":
            optionsList = AndraPradesh;
            break;
        case "Arunachal Pradesh":
            optionsList = ArunachalPradesh;
            break;
        case "Assam":
            optionsList = Assam;
            break;
        case "Bihar":
            optionsList = Bihar;
            break;
        case "Chhattisgarh":
            optionsList = Chhattisgarh;
            break;
        case "Goa":
            optionsList = Goa;
            break;
        case  "Gujarat":
            optionsList = Gujarat;
            break;
        case "Haryana":
            optionsList = Haryana;
            break;
        case "Himachal Pradesh":
            optionsList = HimachalPradesh;
            break;
        case "Jammu and Kashmir":
            optionsList = JammuKashmir;
            break;
        case "Jharkhand":
            optionsList = Jharkhand;
            break;
        case  "Karnataka":
            optionsList = Karnataka;
            break;
        case "Kerala":
            optionsList = Kerala;
            break;
        case  "Madya Pradesh":
            optionsList = MadhyaPradesh;
            break;
        case "Maharashtra":
            optionsList = Maharashtra;
            break;
        case  "Manipur":
            optionsList = Manipur;
            break;
        case "Meghalaya":
            optionsList = Meghalaya ;
            break;
        case  "Mizoram":
            optionsList = Mizoram;
            break;
        case "Nagaland":
            optionsList = Nagaland;
            break;
        case  "Orissa":
            optionsList = Orissa;
            break;
        case "Punjab":
            optionsList = Punjab;
            break;
        case  "Rajasthan":
            optionsList = Rajasthan;
            break;
        case "Sikkim":
            optionsList = Sikkim;
            break;
        case  "Tamil Nadu":
            optionsList = TamilNadu;
            break;
        case  "Telangana":
            optionsList = Telangana;
            break;
        case "Tripura":
            optionsList = Tripura ;
            break;
        case  "Uttaranchal":
            optionsList = Uttaranchal;
            break;
        case  "Uttar Pradesh":
            optionsList = UttarPradesh;
            break;
        case "West Bengal":
            optionsList = WestBengal;
            break;
        case  "Andaman and Nicobar Islands":
            optionsList = AndamanNicobar;
            break;
        case "Chandigarh":
            optionsList = Chandigarh;
            break;
        case  "Dadar and Nagar Haveli":
            optionsList = DadraHaveli;
            break;
        case "Daman and Diu":
            optionsList = DamanDiu;
            break;
        case  "Delhi":
            optionsList = Delhi;
            break;
        case "Lakshadeep":
            optionsList = Lakshadeep ;
            break;
        case  "Pondicherry":
            optionsList = Pondicherry;
            break;
    }
    
    
      for(var i = 0; i < optionsList.length; i++){
        htmlString = htmlString+"<option value='"+ optionsList[i] +"'>"+ optionsList[i] +"</option>";
      }
      $("#district").html(htmlString);
      document.getElementById('district').value="{{personal.district}}"
    }
  
    setdefault();
    
    </script>
   -->
<script>
    // one space 


$('.onespace').keydown(function (e) {
    target= e.target.value
    targetlength=e.target.value.length
    last=target[targetlength-1]
    console.log(last);
    if (e.ctrlKey || e.altKey) {
    
      e.preventDefault();
      
    } else {
    
      var key = e.keyCode;
      if((targetlength == 0 &&  key == 32) || (last === " " && key == 32)  ){
          e.preventDefault();
      }
     else if  (targetlength == " " && key == 32) {
          e.preventDefault();
      }
      else if (key > 144 && (((key == 191) || (key == 188 )   || (key == 190)  ) &&( last=="," || last == "." || last=="/") )){
        e.preventDefault();
    }
    else if (key == 144 && !((key == 191) || (key == 188 )   || (key == 190) ))
    {    
        e.preventDefault();
    }     
    }
    
  });

</script>




  
</body>
</html>
    {% endblock  %}

    